@model IEnumerable<homeopatija.Entities.Faq>

@{
    ViewData["Title"] = "Table";
}

<h1>DUK</h1>

<p>
    <a asp-action="Create">Sukurti naują</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Rūšiavimo ID
            </th>
            <th>
                Klausimas
            </th>
            <th>
                Atsakymas
            </th>
            <th>
                Sukūrimo data
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Answer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.ActionLink("Ištrinti", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
