@model IEnumerable<homeopatija.Entities.Disease>

@{
    ViewData["Title"] = "Table";
}

<style>
    .no-wrap-link {
        white-space: nowrap;
        display: inline-block; /* Or 'block' if you want the link to be on its own line */
        padding: 5px 10px; /* Example padding, adjust as needed */
        font-size: 14px; /* Example font size, adjust as needed */
    }
</style>

<h1>Ligos</h1>

<p>
    <a asp-action="Create">Įrašyti naują ligą</a>
</p>

<div class="row">
    <div class="col-md-3">
        <form id="symptomForm">
            <h3>Simptomai</h3>
            @if (ViewBag.Symptoms != null)
            {
                foreach (var symptom in ViewBag.Symptoms)
                {
                    <div class="symptom" data-symptomid="@symptom.Id">
                        <input type="checkbox" name="selectedSymptomIds" value="@symptom.Id"> @symptom.Title
                    </div>
                }
            }
            <button type="submit">Filtruoti</button>
        </form>
    </div>
    <div class="col-md-9">
        <div id="diseaseList">
            <table class="table">
                <!-- Table header -->
                <thead>
                    <tr>
                        <th>Pavadinimas</th>
                        <th>Aprašas</th>
                        <th>Priežastis</th>
                        <th>Gydymas</th>
                        <th></th>
                    </tr>
                </thead>
                <!-- Table body -->
                <tbody>
                    @foreach (var item in Model.Skip(1))
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            <td>@Html.DisplayFor(modelItem => item.Causes)</td>
                            <td>@Html.DisplayFor(modelItem => item.Treatment)</td>
                            <td>
                                @Html.ActionLink("Redaguoti ligą", "Edit", new { id = item.Id }, new { @class = "no-wrap-link" })
                                @Html.ActionLink("Detaliau", "Details", new { id = item.Id }, new { @class = "no-wrap-link" })
                                @Html.ActionLink("Ištrinti ligą", "Delete", new { id = item.Id }, new { @class = "no-wrap-link" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function () {
            $('#symptomForm').submit(function (e) {
                e.preventDefault();

                var formData = $(this).serialize();
                $.ajax({
                    url: '@Url.Action("FilterBySymptoms", "Disease")',
                    type: 'POST',
                    data: formData,
                    success: function (result) {
                        $('#diseaseList').html(result);
                    }
                });
            });
        });
    </script>
}
